h2 {
	margin: 10px 0;
	font-style: italic;
	font-size: calc(16px + 0.25vw);
	font-weight: 500;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 25px;
	margin: 10px;
}

.card {
	border: none;
	border-radius: 20px;
	background-color: rgb(243, 241, 241);
	padding: 10px 30px;
}

.card > img {
	width: 160px;
	height: auto;
}
